@model BlindsResistanceCalculator.ViewModels.CalculatedResult

<div class="container">
<h4>Results:</h4>
    <ul class="list-unstyled">
        <li><span class="col-md-2">Ohms:</span><span>@Model.CalculatedOhms</span></li>
        <li><span class="col-md-2">High Tolerance:</span><span>@Model.HighTolerance</span></li>
        <li><span class="col-md-2">Low Tolerance:</span><span>@Model.LowTolerance</span></li>
    </ul>
</div>
